%%-*-erlang-*-
[
  {platform, [
    %% MQTT Client
    {mqtt,
      [
        {clean_start, true},
        {proto_ver, v5},
        {force_ping, true},
        {keepalive, 0},
        {host, "localhost"},
        {port, 1883},
        {username, "admin"},
        {password, "public"}
      ]
    },
    % Enable uart
    {uarts,
      [
        {uart2, [
          {enable, false},
          {open, "/dev/ttyAMA1"}
        ]}
      ]
    },
    % DS18B20传感器
    {ds18b20,
      [
        {enable, false},
        {dir, "/sys/bus/w1/devices"},
        %% ds18b20模块
        %% {file, "/sys/bus/w1/devices/28-011939632f5b/w1_slave"}
        %% ds18b20防水型 接BCM.18引脚
        {file, "/sys/bus/w1/devices/28-3c01f095d8e4/w1_slave"}
      ]
    },
    % CPU
    {cpu,
      [
        {enable, true},
        {dir, "/sys/class/thermal/"},
        {file, "/sys/class/thermal/thermal_zone0/temp"}
      ]
    },
    {weather_api, <<"http://weather.summergao.com/platform-weather/weather/api?isToken=1&cityId=">>},
    % cron定时任务
    {crontab_jobs, [
      {summergao_clock, "@minutely", {platform_cron, summergao_clock, ["我是SummerGao的时钟，我每分钟刷新一次吖！"]}},
      {summergao_weather, "@hourly", {platform_cron, summergao_weather, [<<"101120101">>]}},
%%      {summergao_ds18b20, "@minutely", {platform_cron, summergao_ds18b20, ["我是SummerGao的DS18B20传感器，我每分钟获取一次温度吖！"]}},
      {summergao_sensor_data_remote, "59 * * * * *", {platform_cron, summergao_sensor_data_remote, ["我是SummerGao的温湿度传感器，我每分钟的第59秒获取一次温湿度数据吖！"]}}

    ]}
  ]},
  % ecron定时任务
  {ecron, [
    {time_zone, local}, %% local or utc
    {global_quorum_size, 1},
    {global_jobs, [
%%      {global_crontab_job, "*/15 * * * * *", {platform_cron, inspect, ["Runs on 0, 15, 30, 45 seconds"]}}
    ]}
  ]}
].
